.sidebar {
    background-color: #1f232a;
    border: 3px solid #5c0000;
	width: 25vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
	flex-shrink: 0;
    gap: 10px;
	position: fixed;
}

.sidebar_link {
	color: grey;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
	font-family: "Impact";
}
.sidebar_link:hover, .sidebar_title:hover {
	color: blue;
}

.sidebar_title {
	color: #a30000;
	text-align: center;
	font-family: "Monoton", sans-serif;
	display: flex;
    justify-content: center;
	font-size: 64px;
}

.sidebar_subtitle {
	padding-left: 10px;
	padding-top: 30px;
	font-family: "Monoton";
	color: #a30000;
	font-size: 20px;
	
}