/* 
dark grey block with a red boarder to contain the elements of the sidebar.
Takes up 25% of the screen and has a column justified layout.
*/
.sidebar {
    background-color: #1f232a;
    border: 3px solid #5c0000;
	width: 25vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
	flex-shrink: 0;
    gap: 10px;
	position: fixed;
}

/* 
Grey moderate sized text for links, in the impact font, one of the two fonts 
included in the event theme. The links are not underlined
*/
.sidebar_link {
	color: grey;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
	font-family: "Impact";
}

/* The links turn blue on hover */
.sidebar_link:hover, .sidebar_title:hover {
	color: blue;
}

/* 
Large red text in the Monoton font, the primary font for the event. 
Serves as the homepage link and "logo" for the website
*/
.sidebar_title {
	color: #a30000;
	text-align: center;
	font-family: "Monoton", sans-serif;
	display: flex;
    justify-content: center;
	font-size: 64px;
}

/* large red text used to seperate the links into sections */
.sidebar_subtitle {
	padding-left: 10px;
	padding-top: 30px;
	font-family: "Monoton";
	color: #a30000;
	font-size: 20px;
}