body {
    background-color: lightskyblue;
    margin: 0;
    display: flex;
}

h1 {
    padding-top: 20px;
    color: blueviolet;
    font-family: "Phosphate";
    font-size: 80px;
    text-align: center;
    line-height: 0.6;
    margin: 0;
}

h2 {
    font-family: "Impact";
    font-size: 114px;
    text-align: center;
    margin: 0;
}

.subtitle {
    font-family: "Courier";
    font-size: 30px;
    text-align: center;
}

.content {
    margin: 0px;
    display: block;
    width: 75vw
}